.article {
  flex: 0 0 33.333333%;

  .article-image {
    max-height: 200px;
    object-fit: contain;
    margin-right: 10px;
    cursor: pointer;
    width: 100%;
    transition: transform 450ms;
  }
}
