.navBar {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 1;

  transition: all 0.5s;
  transition-timing-function: ease-in;

  .navBar__contents {
    display: flex;
    justify-content: space-between;

    .navBar__button-logo {
      position: fixed;
      left: 20px;
      width: 80px;
      cursor: pointer;
      padding: 0;
      border: none;
      background: none;

      .navBar__logo {
        position: relative;
        width: 80px;
        object-fit: contain;
        cursor: pointer;
      }
    }
    .navBar__button-avatar {
      cursor: pointer;
      position: fixed;
      right: 20px;
      width: 30px;
      height: 30px;
      padding: 0;
      border: none;

      .navBar__avatar {
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 30px;
      }
    }
  }
}
.navBar__black {
  background-color: #111;
}
